<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="https://cdn.pixabay.com/photo/2023/09/29/11/59/iguana-8283668_1280.jpg"
      cardTitle="felis donec et odio pellentesque"
      cardDescription="nisl rhoncus mattis rhoncus urna neque viverra justo nec ultrices"
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="viverra aliquet eget sit amet"
      photoCover="https://media.istockphoto.com/id/151524683/pt/foto/drag%C3%A3o-de-barba.jpg?s=2048x2048&w=is&k=20&c=nOQDjkRGN8q5ry545_iY_3KSSMOYjFQhdaGPDKHFOS8="
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="rhoncus urna neque viverra justo"
      photoCover="https://media.istockphoto.com/id/161003451/pt/foto/iguana-verde.jpg?s=2048x2048&w=is&k=20&c=68AO0GpGUy-y4zMKCfsyXFPGv_7UDntMcq0Onxf_SPw="
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="diam quis enim lobortis scelerisque"
      photoCover="https://media.istockphoto.com/id/1541957135/pt/foto/animal-wildlife.webp?s=2048x2048&w=is&k=20&c=3Stki4M8N1R4jNPYXHVGaMrNHYZN6lCIW00lv6QYnU8="
    >
    </app-small-card>
  </div>
</div>
